Eligibility Requirements:
Text Content:
Physician Assistant
Successful completion of a training program accredited by theARC-PA.
Successful completion ofPANCE.
Submit application and fee.
Submit to a criminal history background check.
Documentation submitted through theFederation Credentials Verification Service (FCVS)may be accepted to demonstrate compliance with the credentialing requirements.
Supervising Physician
Hold a current, unrestricted license to practice medicine in Alabama.
On the date of application, has practiced medicine* for at least three years/one year if board certified or if practice site is limited to a hospital.*since completion of residency/postgraduate education
Anesthesiologist Assistant
Successful completion of a training program accredited byCAHEA.
Successful completion ofCEAA.
Submit application and fee.
Submit to a criminal history background check.
Supervising Anesthesiologist
Hold a current, unrestricted license to practice medicine in Alabama and practice in the medical specialty of anesthesiology.
On the date of application, practiced medicine for at least three years* or at least one year and certified by the ABA or AOBA or practice site is limited solely to a hospital.*including any practice while enrolled in internship, residency, or fellowship
Links:
http://www.arc-pa.org/
https://www.nccpa.net/become-certified/
https://www.fsmb.org/fcvs/
https://www.caahep.org/
https://www.nccaatest.org/


